.slimScrollBar {
    background: rgba(255, 227, 227, 0.473) !important; 
}
.connection-list {
    width: 300px !important;
    padding: 20px !important;
}

.external_pages {
    height: 100%;
    -ms-flex-align: center !important;
    align-items: center !important;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}

.external_card {
  margin: 0 !important;
  position: absolute !important;
  top: 50% !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.ps__rail-y {
    z-index: 999 !important;
}

@media only screen and (max-width: 480px) {
    .nav-left-sidebar {
        width: 100%;
        position: relative;
        top: 0px;
        right: 0px;
    }
}
.App {
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
  }
  
  .App-map {
    height: 100%;
    width: 100%;
  }

    /* .nav-left-sidebar .nav-link[data-toggle="collapse"][data-id="false"]:after {
        transform: rotate(-90deg) !important;
    } */
/* .nav-left-sidebar .nav-link[data-toggle="collapse"]:after {
    transition: transform .35s ease, opacity .35s ease;
    opacity: .5;
}
.nav-left-sidebar .nav-link[data-toggle="collapse"]::after {
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    right: 20px;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
} */